@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

.hero {
    position: relative;
    overflow: hidden; /* Biar lingkaran tidak keluar area */
}

@media screen and (max-width: 768px) {
    .circle-1 {
        width: 300px;
        height: 300px;
        top: 30%;
        left: 58%;
    }

    .circle-2 {
        width: 260px;
        height: 260px;
        top: 42%;
        left: 48%;
    }

    .hero img {
        width: 300px;
    }
    
    .text-hero {
        margin-top: 15px;
        margin-bottom: 25px;
    }

    .about img{
        width: 300px;
        margin-top: 20px;
    }
}
