.hero {
    position: relative;
    overflow: hidden; /* Biar lingkaran tidak keluar area */
}

/* Gaya dasar untuk lingkaran */
.circle-bg {
    position: absolute;
    border-radius: 50%;
    z-index: 0; /* Pastikan lingkaran ada di belakang */
    opacity: 0.3;
}

/* Lingkaran pertama */
.circle-1 {
    width: 430px;
    height: 430px;
    background-color: #605dff; /* Warna biru */
    top: 45%;
    left: 78%;
    transform: translate(-50%, -50%);
    opacity: 1;
}

/* Lingkaran kedua */
.circle-2 {
    width: 350px;
    height: 350px;
    background-color: #FFA500; /* Warna oranye */
    top: 65%;
    left: 72%;
    transform: translate(-50%, -50%);
    opacity: 1;
}

@media screen and (max-width: 768px) {
    .circle-1 {
        width: 300px;
        height: 300px;
        top: 30%;
        left: 58%;
    }

    .circle-2 {
        width: 260px;
        height: 260px;
        top: 42%;
        left: 48%;
    }

    .hero img {
        width: 300px;
    }
    
    .text-hero {
        margin-top: 15px;
        margin-bottom: 25px;
    }
}
